.game-page {
  padding: 3%;
}
.side-bar {
  height: 100%;
  width: 18vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(26, 130, 228, 0.678);
  overflow-x: hidden;
  padding-top: 20px;
}
.tool {
  margin: 10px;
  display: inline;
}
.score-list {
  margin-top: 5vh;
}
